{% extends "@Twig/Exception/excepniot.base.html.twig" %}

{% block title %}{{ "exceptions.403"|trans }} &ndash; Feedback{% endblock %}

{% block body %}
    <h1>403</h1>

    <p>
        {{- "exceptions.403"|trans -}}
    </p>

    <ul>
        <li>
            <a href="{{ path("homepage") }}">
                {{- "pages.home.go"|trans -}}
            </a>
        </li>

        <li>
            <a href="{{ path("fos_user_security_login") }}">
                {{- "security.login"|trans -}}
            </a>
        </li>
    </ul>
{% endblock %}
