<tr>
    <td>{{ message.author }}</td>

    <td>
        <a href="mailto:{{ message.email }}">{{ message.email }}</a>
    </td>

    <td>
        {% if message.body|length > 100 %}
            {{ message.body|slice(0, 100) }}&hellip;
        {% else %}
            {{ message.body }}
        {% endif %}
    </td>

    <td class="text-right">
        {% if message.picture is not empty %}
            <a href="{{ message.picture.filename }}" class="message-picture thumbnail" target="_blank">
                <div style="background-image: url({{ message.picture.filename }});"></div>
            </a>
        {% endif %}
    </td>

    <td class="text-right">
        {% if message.changedByAdmin %}
            <span class="label label-info">
                Changed by admin
            </span>
        {% endif %}
    </td>

    <td>{{ message.createdAt|date }}</td>

    {% if isPreview is not defined %}
        {% if message.id and app.user and app.user.hasRole("ROLE_ADMIN") %}
            <td>
                {% if message.isApproved %}
                    <span class="label label-primary">Approved</span>
                {% else %}
                    <span class="label label-warning">Not approved</span>
                {% endif %}
            </td>

            <td class="text-right">
                <div class="btn-group" role="group">
                    <a href="{{ path("edit_message", {id: message.id}) }}" class="btn btn-xs btn-default">Edit</a>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                {% if message.isApproved %}
                                    <form action="{{ path("disapprove_message", {id: message.id}) }}" method="post">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="dropdown-submit">Disapprove</button>
                                    </form>
                                {% else %}
                                    <form action="{{ path("approve_message", {id: message.id}) }}" method="post">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="dropdown-submit">Approve</button>
                                    </form>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        {% endif %}
    {% endif %}
</tr>
