<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-8">
                {{ message.author }}
                <a href="mailto:{{ message.email }}">{{ message.email }}</a>
            </div>

            <div class="col-sm-4 text-right">
                {{ message.createdAt|date }}
            </div>
        </div>
    </div>

    <div class="panel-body">
        <p>
            {{ message.body }}
        </p>

        {% if message.changedByAdmin %}
            <p class="text-right">
                <span class="label label-info">
                    Changed by admin
                </span>
            </p>
        {% endif %}

        {% if message.picture is not empty %}
            <div class="message-thumbnail">
                <a href="{{ message.picture.filename }}" target="_blank">
                    <img src="{{ message.picture.filename }}">
                </a>
            </div>
        {% endif %}
    </div>
</div>
