{% form_theme form "@App/Form/feedback_layout.html.twig" %}

{{ form_start(form) }}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="message-form">
            {{ form_row(form.author) }}
            {{ form_row(form.email) }}
            {{ form_row(form.body) }}
            {{ form_row(form.picture.originalFilename) }}

            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <button type="button" data-target="#create-message-preview" class="btn btn-default btn-sm action-message-preview">
                        Preview&hellip;
                    </button>

                    <button type="submit" class="btn btn-primary btn-sm" title="Post message for approval">Create</button>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane tab-message-preview" id="create-message-preview"></div>
    </div>
{{ form_end(form) }}
