{% spaceless %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-8">
                {{- message.author }}
                <a href="mailto:{{ message.email }}">{{ message.email }}</a>
            </div>

            <div class="col-sm-4 text-right">
                {{- message.createdAt|localizeddate('medium', 'short', app.request.locale) -}}
            </div>
        </div>
    </div>

    <div class="panel-body">
        <p>
            {{- message.body|nl2br -}}
        </p>

        {% if message.changedByAdmin %}
            <p class="text-right">
                <span class="label label-info" title="{{ "message.adminChangedTitle"|trans }}">
                    {{- "message.adminChanged"|trans -}}
                </span>
            </p>
        {% endif %}

        {% if message.picture is not empty %}
            <div class="message-thumbnail">
                {% if previewDraftMode is defined and previewDraftMode %}
                    <a href="{{ path("preview", {filename: message.picture.filename}) }}" target="_blank">
                        <img src="{{ path("preview", {filename: message.picture.filename}) }}">
                    </a>
                {% else %}
                    <a href="{{ path("picture", {slug: message.picture.slug, filename: message.picture.originalFilename}) }}" target="_blank">
                        <img src="{{ path("picture", {slug: message.picture.slug, filename: message.picture.originalFilename}) }}">
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endspaceless %}
