{% extends 'base.html.twig' %}

{% set currentRoute = app.request.attributes.get('_route') %}
{% set nextDirection = (criteria.direction == "asc") ? "desc" : "asc" %}

{% block title -%}
    {%- if currentRoute == "app_admin_approved" -%}
        {{ "admin.approved"|trans }} &ndash;
    {%- elseif currentRoute == "app_admin_disapproved" -%}
        {{ "admin.disapproved"|trans }} &ndash;
    {%- endif %}

    {{ "pages.admin"|trans }} &ndash; Feedback
{%- endblock %}

{% block body %}
    {% spaceless %}
    <ul class="nav nav-pills messages-navigation">
        <li role="presentation"{% if currentRoute == "app_admin_index" %} class="active"{% endif %}>
            <a href="{{ path("app_admin_index") }}">
                <span class="pill-caption">{{ "admin.all"|trans }}</span>
                <span class="badge">{{ amount.all }}</span>
            </a>
        </li>

        <li role="presentation"{% if currentRoute == "app_admin_approved" %} class="active"{% endif %}>
            <a href="{{ path("app_admin_approved") }}">
                <span class="pill-caption">{{ "admin.approved"|trans }}</span>
                <span class="badge">{{ amount.approved }}</span>
            </a>
        </li>

        <li role="presentation"{% if currentRoute == "app_admin_disapproved" %} class="active"{% endif %}>
            <a href="{{ path("app_admin_disapproved") }}">
                <span class="pill-caption">{{ "admin.disapproved"|trans }}</span>
                <span class="badge">{{ amount.disapproved }}</span>
            </a>
        </li>
    </ul>

    <table class="table table-condensed messages-table">
        <thead>
        <tr>
            <th>
                {% if criteria.sort == "author" %}
                    <a class="{{ criteria.direction }}" href="{{ path(currentRoute, {sort: "author", direction: nextDirection}) }}" title="{{ "messages.sort_by_author"|trans }}">
                        {{- "list.author"|trans -}}
                    </a>
                {% else %}
                    <a href="{{ path(currentRoute, {sort: "author", direction: criteria.direction}) }}" title="{{ "messages.sort_by_author"|trans }}">
                        {{- "list.author"|trans -}}
                    </a>
                {% endif %}
            </th>

            <th>
                {% if criteria.sort == "email" %}
                    <a class="{{ criteria.direction }}" href="{{ path(currentRoute, {sort: "email", direction: nextDirection}) }}" title="{{ "messages.sort_by_email"|trans }}">
                        {{- "list.email"|trans -}}
                    </a>
                {% else %}
                    <a href="{{ path(currentRoute, {sort: "email", direction: criteria.direction}) }}" title="{{ "messages.sort_by_email"|trans }}">
                        {{- "list.email"|trans -}}
                    </a>
                {% endif %}
            </th>

            <th colspan="2">
                {{- "list.body"|trans -}}
            </th>

            <th>
                {% if criteria.sort == "createdAt" %}
                    <a class="{{ criteria.direction }}" href="{{ path(currentRoute, {sort: "createdAt", direction: nextDirection}) }}" title="{{ "messages.sort_by_date"|trans }}">
                        {{- "list.createdAt"|trans -}}
                    </a>
                {% else %}
                    <a href="{{ path(currentRoute, {sort: "createdAt", direction: criteria.direction}) }}" title="{{ "messages.sort_by_date"|trans }}">
                        {{- "list.createdAt"|trans -}}
                    </a>
                {% endif %}
            </th>

            <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        {% for message in messages %}
            <tr>
                <td class="column-string">
                    <span title="{{ message.author }}">
                        {%- if message.author|length > 50 -%}
                            {{ message.author|slice(0, 50) }}<b>&hellip;</b>
                        {%- else -%}
                            {{ message.author }}
                        {%- endif -%}
                    </span>
                </td>

                <td class="column-string">
                    <a href="mailto:{{ message.email }}" title="{{ message.email }}">
                        {%- if message.email|length > 50 -%}
                            {{ message.email|slice(0, 50) }}<b>&hellip;</b>
                        {%- else -%}
                            {{ message.email }}
                        {%- endif -%}
                    </a>
                </td>

                <td class="column-text">
                    {%- if message.body|length > 200 -%}
                        {{ message.body|slice(0, 200) }}<b>&hellip;</b>
                    {%- else -%}
                        {{ message.body -}}
                    {%- endif -%}
                </td>

                <td class="text-right">
                    {% if message.picture is not empty %}
                        <a href="{{ message.picture.webPath }}" class="message-picture thumbnail" target="_blank">
                            <span class="glyphicon glyphicon-new-window"></span>
                            <div style="background-image: url({{ message.picture.webPath }});"></div>
                        </a>
                    {% endif %}
                </td>

                <td class="column-date">
                    {{- message.createdAt|localizeddate('medium', 'short', app.request.locale) -}}
                </td>

                <td>
                    {%- if message.isApproved -%}
                        <span class="label label-primary">{{ "admin.message.approved"|trans }}</span>
                    {%- else -%}
                        <span class="label label-warning">{{ "admin.message.disapproved"|trans }}</span>
                    {%- endif -%}
                </td>

                <td class="text-right column-actions">
                    <div class="btn-group btn-group-sm" role="group">
                        <a href="{{ path("app_messages_edit", {id: message.id}) }}" class="btn btn-default" title="{{ "admin.action.edit.title"|trans }}">
                            {{- "admin.action.edit"|trans -}}
                        </a>

                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    {% if message.isApproved %}
                                        <form action="{{ path("app_messages_disapprove", {id: message.id}) }}" method="post">
                                            <input type="hidden" name="_method" value="PUT">

                                            <button type="submit" class="dropdown-submit" title="{{ "admin.action.disapprove.title"|trans }}">
                                                {{- "admin.action.disapprove"|trans -}}
                                            </button>
                                        </form>
                                    {% else %}
                                        <form action="{{ path("app_messages_approve", {id: message.id}) }}" method="post">
                                            <input type="hidden" name="_method" value="PUT">

                                            <button type="submit" class="dropdown-submit" title="{{ "admin.action.approve.title"|trans }}">
                                                {{- "admin.action.approve"|trans -}}
                                            </button>
                                        </form>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="bg-info text-center">
                    {{- "messages.empty"|trans -}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endspaceless %}
{% endblock %}
