{% extends 'base.html.twig' %}

{% block title %}{{ "pages.admin"|trans }} &ndash; Feedback{% endblock %}

{% block body %}
    {% set currentRoute = app.request.attributes.get('_route') %}
    {% set nextDirection = (p.direction == "asc") ? "desc" : "asc" %}

    <ul class="nav nav-pills messages-navigation">
        <li role="presentation"{% if currentRoute == "admin" %} class="active"{% endif %}>
            <a href="{{ path("admin") }}">
                {{ "admin.all"|trans }}
                <span class="badge">{{ count.all }}</span>
            </a>
        </li>

        <li role="presentation"{% if currentRoute == "admin_approved" %} class="active"{% endif %}>
            <a href="{{ path("admin_approved") }}">
                {{ "admin.approved"|trans }}
                <span class="badge">{{ count.approved }}</span>
            </a>
        </li>

        <li role="presentation"{% if currentRoute == "admin_disapproved" %} class="active"{% endif %}>
            <a href="{{ path("admin_disapproved") }}">
                {{ "admin.disapproved"|trans }}
                <span class="badge">{{ count.disapproved }}</span>
            </a>
        </li>
    </ul>

    <table class="table table-condensed messages-table">
        <thead>
        <tr>
            <th>
                {% if p.sort == "author" %}
                    <a class="{{ p.direction }}" href="{{ path("admin", {sort: "author", direction: nextDirection}) }}" title="{{ "messages.sort_by_author"|trans }}">
                        {{ "list.author"|trans }}
                    </a>
                {% else %}
                    <a href="{{ path("admin", {sort: "author", direction: p.direction}) }}" title="{{ "messages.sort_by_author"|trans }}">
                        {{ "list.author"|trans }}
                    </a>
                {% endif %}
            </th>

            <th>
                {% if p.sort == "email" %}
                    <a class="{{ p.direction }}" href="{{ path("admin", {sort: "email", direction: nextDirection}) }}" title="{{ "messages.sort_by_email"|trans }}">
                        {{ "list.email"|trans }}
                    </a>
                {% else %}
                    <a href="{{ path("admin", {sort: "email", direction: p.direction}) }}" title="{{ "messages.sort_by_email"|trans }}">
                        {{ "list.email"|trans }}
                    </a>
                {% endif %}
            </th>

            <th colspan="2">
                {{ "list.body"|trans }}
            </th>

            <th>
                {% if p.sort == "createdAt" %}
                    <a class="{{ p.direction }}" href="{{ path("admin", {sort: "createdAt", direction: nextDirection}) }}" title="{{ "messages.sort_by_date"|trans }}">
                        {{ "list.createdAt"|trans }}
                    </a>
                {% else %}
                    <a href="{{ path("admin", {sort: "createdAt", direction: p.direction}) }}" title="{{ "messages.sort_by_date"|trans }}">
                        {{ "list.createdAt"|trans }}
                    </a>
                {% endif %}
            </th>

            <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        {% for message in messages %}
            <tr>
                <td class="column-string">
                    <span title="{{ message.author }}">
                        {% if message.author|length > 50 %}
                            {{ message.author|slice(0, 50) }}
                            <b>&hellip;</b>
                        {% else %}
                            {{ message.author }}
                        {% endif %}
                    </span>
                </td>

                <td class="column-string">
                    <a href="mailto:{{ message.email }}" title="{{ message.email }}">
                        {% if message.email|length > 50 %}
                            {{ message.email|slice(0, 50) }}
                            <b>&hellip;</b>
                        {% else %}
                            {{ message.email }}
                        {% endif %}
                    </a>
                </td>

                <td class="column-text">
                    {% if message.body|length > 100 %}
                        {{ message.body|slice(0, 100) }}
                        <b>&hellip;</b>
                    {% else %}
                        {{ message.body }}
                    {% endif %}
                </td>

                <td class="text-right">
                    {% if message.picture is not empty %}
                        <a href="{{ message.picture.filename }}" class="message-picture thumbnail" target="_blank">
                            <span class="glyphicon glyphicon-new-window"></span>
                            <div style="background-image: url({{ message.picture.filename }});"></div>
                        </a>
                    {% endif %}
                </td>

                <td class="column-date">
                    {{ message.createdAt|localizeddate('medium', 'short', app.request.locale) }}
                </td>

                <td>
                    {% if message.isApproved %}
                        <span class="label label-primary">{{ "admin.approved"|trans }}</span>
                    {% else %}
                        <span class="label label-warning">{{ "admin.disapproved"|trans }}</span>
                    {% endif %}
                </td>

                <td class="text-right column-actions">
                    <div class="btn-group btn-group-sm" role="group">
                        <a href="{{ path("edit_message", {id: message.id}) }}" class="btn btn-default" title="{{ "admin.action.edit.title"|trans }}">
                            {{ "admin.action.edit"|trans }}
                        </a>

                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    {% if message.isApproved %}
                                        <form action="{{ path("disapprove_message", {id: message.id}) }}" method="post">
                                            <input type="hidden" name="_method" value="PUT">

                                            <button type="submit" class="dropdown-submit" title="{{ "admin.action.disapprove.title"|trans }}">
                                                {{ "admin.action.disapprove"|trans }}
                                            </button>
                                        </form>
                                    {% else %}
                                        <form action="{{ path("approve_message", {id: message.id}) }}" method="post">
                                            <input type="hidden" name="_method" value="PUT">

                                            <button type="submit" class="dropdown-submit" title="{{ "admin.action.approve.title"|trans }}">
                                                {{ "admin.action.approve"|trans }}
                                            </button>
                                        </form>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="bg-info text-center">
                    {{ "messages.empty"|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
