{% extends 'base.html.twig' %}

{% block title %}{{ "pages.creating_message"|trans }} &ndash; Feedback{% endblock %}

{% block body %}
    <h1>
        {{- "pages.creating_message"|trans -}}
    </h1>

    <div id="create-message-form-container">
        {% include "@App/messageCreateForm.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            var form = new MessageForm({
                el: $('#create-message-form-container'),
                url: "{{ path("app_messages_previewdraft") }}",
                messages: {
                    preview: "{{ "js.preview"|trans }}",
                    too_large: "{{ "js.too_large"|trans }}"
                }
            });
        });
    </script>
{% endblock %}
