{% extends 'base.html.twig' %}

{% block body %}
    {% if messages|length %}
        <div class="messages-controls text-right">
            {% spaceless %}
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if criteria.sort == "author" %}
                        {{ "messages.sorted_by_author"|trans }}
                    {% elseif criteria.sort == "email" %}
                        {{ "messages.sorted_by_email"|trans }}
                    {% else %}
                        {{ "messages.sorted_by_date"|trans }}
                    {% endif %}

                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li{% if criteria.sort == "author" %} class="active"{% endif %}>
                        <a href="{{ path("app_default_index", {sort: "author", direction: criteria.direction}) }}" title="{{ "messages.sort_by_author"|trans }}">
                            {{- "list.author"|trans -}}
                        </a>
                    </li>

                    <li{% if criteria.sort == "email" %} class="active"{% endif %}>
                        <a href="{{ path("app_default_index", {sort: "email", direction: criteria.direction}) }}" title="{{ "messages.sort_by_email"|trans }}">
                            {{- "list.email"|trans -}}
                        </a>
                    </li>

                    <li{% if criteria.sort == "createdAt" %} class="active"{% endif %}>
                        <a href="{{ path("app_default_index", {sort: "createdAt", direction: criteria.direction}) }}" title="{{ "messages.sort_by_date"|trans }}">
                            {{- "list.createdAt"|trans -}}
                        </a>
                    </li>
                </ul>
            </div>
            {% endspaceless %}

            {% spaceless %}
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {%- if criteria.direction == "asc" -%}
                        {{ "messages.ordered_by_asc"|trans }}
                    {%- else -%}
                        {{ "messages.ordered_by_desc"|trans }}
                    {%- endif %}

                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li{% if criteria.direction == "asc" %} class="active"{% endif %}>
                        <a href="{{ path("app_default_index", {sort: criteria.sort, direction: "asc"}) }}" title="{{ "messages.order_by_asc"|trans }}">
                            {{- "order.asc"|trans -}}
                        </a>
                    </li>

                    <li{% if criteria.direction == "desc" %} class="active"{% endif %}>
                        <a href="{{ path("app_default_index", {sort: criteria.sort, direction: "desc"}) }}" title="{{ "messages.order_by_desc"|trans }}">
                            {{- "order.desc"|trans -}}
                        </a>
                    </li>
                </ul>
            </div>
            {% endspaceless %}
        </div>
    {% endif %}

    {% spaceless %}
    <div class="messages-container">
        {% for message in messages %}
            {% include "@App/message.html.twig" %}
        {% else %}
            <div class="alert alert-info">
                {{ "messages.empty"|trans }}
            </div>
        {% endfor %}
    </div>
    {% endspaceless %}

    <div id="create-message-form-container">
        {% include "@App/messageCreateForm.html.twig" with {form: messageForm} %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            var form = new MessageForm({
                el: $('#create-message-form-container'),
                url: "{{ path("app_messages_previewdraft") }}",
                messages: {
                    preview: "{{ "js.preview"|trans }}",
                    too_large: "{{ "js.too_large"|trans }}"
                }
            });
        });
    </script>
{% endblock %}
