{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% set nextDirection = (p.direction == "asc") ? "desc" : "asc" %}

        <table class="table table-condensed">
            <thead>
            <tr>
                <th>
                    {% if p.sort == "author" %}
                        <a class="{{ p.direction }}" href="{{ path("homepage", {sort: "author", direction: nextDirection}) }}" title="Name">Name</a>
                    {% else %}
                        <a href="{{ path("homepage", {sort: "author", direction: p.direction}) }}" title="Name">Name</a>
                    {% endif %}
                </th>

                <th>
                    {% if p.sort == "email" %}
                        <a class="{{ p.direction }}" href="{{ path("homepage", {sort: "email", direction: nextDirection}) }}" title="Email">Email</a>
                    {% else %}
                        <a href="{{ path("homepage", {sort: "email", direction: p.direction}) }}" title="Email">Email</a>
                    {% endif %}
                </th>

                <th colspan="2">
                    Text
                </th>

                <th></th>

                <th>
                    {% if p.sort == "createdAt" %}
                        <a class="{{ p.direction }}" href="{{ path("homepage", {sort: "createdAt", direction: nextDirection}) }}" title="Date added">Date added</a>
                    {% else %}
                        <a href="{{ path("homepage", {sort: "createdAt", direction: p.direction}) }}" title="Date added">Date added</a>
                    {% endif %}
                </th>

                {% if app.user and app.user.hasRole("ROLE_ADMIN") %}
                    <th colspan="2"></th>
                {% endif %}
            </tr>
            </thead>

            <tbody id="messages-container">
            {% for message in messages %}
                {% include "@App/message.html.twig" %}
            {% else %}
                <tr>
                    <td colspan="{% if app.user and app.user.hasRole("ROLE_ADMIN") %}7{% else %}6{% endif %}" class="bg-info text-center">
                        No messages yet
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="message-form-container" data-url="{{ path("preview_message") }}">
            {% include "@App/messageCreateForm.html.twig" with {form: messageForm} %}
        </div>
    </div>
{% endblock %}
